@CHARSET "UTF-8";

*{
}


body{
	background-color:#fff;
	font-family: Verdana;
}



h1 {
	font-family: 'IM Fell Double Pica', serif;
	font-weight: 400;
	text-shadow: 1px 3px 1px #000;
	padding-top: 140px;
	font-size: 60px;
	color: white;
	text-align: left;
	text-indent: 20px;
	line-height: 0px;
}