/* This code is only meant for previewing your Reflow design. */
#Navi1 {
	display: none;
}
.menu {
	display: none;
}
.toggle {
	display: none;
}
nav {
	display: none;
}
#text7:hover {
    color: rgb(250, 246, 221);
}
#text11 {
    float: left;
    font-size: 150%;
    width: auto;
    height: auto;
    text-align: left;
    margin-left: 2.5%;
    margin-top: 1%;
    color: rgb(210, 232, 185);
    font-family: 'Poiret One', cursive;
}
#text12 {
    float: left;
    font-size: 150%;
    width: auto;
    height: auto;
    text-align: left;
    margin-left: 2.5%;
    margin-top: 1%;
    color: rgb(250, 246, 221);
    font-family: 'Poiret One', cursive;
}
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-image:url("../kuvat/Background.jpg");
    background-attachment: scroll;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: 0% 0%;
    background-repeat: no-repeat repeat;
}

#box {
    float: left;
    height: 10px;
    clear: both;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
}

#image {
    float: left;
    width: 247.5px;
    max-width: 100%;
    height: 87.45px;
    margin: 2.5% 0% 2.5% 2.5%;
    clear: none;
    color: rgb(0, 0, 0);
    opacity: 1;
}

#image:hover {
    opacity: 1;
}

#text {
    float: left;
    font-size: 150%;
    width: auto;
    height: auto;
    text-align: left;
    margin-left: 5.109643%;
    margin-top: 70px;
    clear: none;
    min-height: 0px;
    color: rgb(220, 237, 200);
    display: block;
    font-family: 'Poiret One', cursive;
    opacity: 1;
}

#text1 {
    float: left;
    font-size: 150%;
    width: auto;
    height: auto;
    text-align: left;
    margin-left: 5.001464%;
    margin-top: 70px;
    clear: none;
    min-height: 0px;
    color: rgb(210, 232, 185);
    display: block;
    font-family: 'Poiret One', cursive;
    opacity: 1;
}

#text2 {
    float: left;
    font-size: 150%;
    width: auto;
    height: auto;
    text-align: left;
    margin-left: 4.999024%;
    margin-top: 70px;
    clear: none;
    min-height: 0px;
    color: rgb(210, 232, 185);
    display: block;
    font-family: 'Poiret One', cursive;
    opacity: 1;
}

#text3 {
    float: right;
    font-size: 150%;
    width: auto;
    height: auto;
    text-align: left;
    margin-left: 0px;
    margin-top: 70px;
    clear: none;
    min-height: 0px;
    margin-right: 4.888404%;
    color: rgb(250, 246, 221);
    display: block;
    font-family: 'Poiret One', cursive;
    opacity: 1;
}

#text:hover {
    color: rgb(250, 246, 221);
}

#text1:hover {
    color: rgb(250, 246, 221);
}

#text2:hover {
    color: rgb(250, 246, 221);
}

#text3:hover {
    color: rgb(250, 246, 221);
}

#text:active {
    color: rgb(250, 246, 221);
}

#text1:active {
    color: rgb(186, 144, 119);
}

#text2:active {
    color: rgb(186, 144, 119);
}

#text3:active {
    color: rgb(186, 144, 119);
}

#box4 {
    float: left;
    height: 10px;
    margin-left: 0%;
    margin-top: 2.5%;
    clear: both;
    width: 100%;
    min-width: 0px;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
}

#text10 {
    float: left;
    font-size: 160%;
    width: 100%;
    height: 5.836576%;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 2.499512%;
    clear: both;
    min-height: 0px;
    min-width: 0px;
    color: rgb(250, 246, 221);
    font-family: 'Poiret One', cursive;
}

#Navi {
    float: left;
    height: 7%;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.65098);
}

#box1 {
    float: left;
    height: auto;
    margin-left: 2.499512%;
    margin-top: 2.499512%;
    clear: both;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 15px 10px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 15px 10px;
}

#text4 {
    float: none;
    font-size: 200%;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin: 2.5% auto;
    clear: none;
    min-height: 0%;
    min-width: 0px;
    font-family: 'Poiret One', cursive;
    color: rgb(210, 232, 185);
}

#box2 {
    float: left;
    height: 468.71875px;
    margin-left: 2.499512%;
    margin-top: 2.499512%;
    clear: both;
    width: 46.25%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 15px 10px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 15px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-right: 0%;
}

#input {
    float: none;
    height: 50px;
    font-size: 180%;
    margin: 45px auto 0%;
    clear: none;
    width: 14.999658%;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.541176);
    font-family: 'Poiret One', cursive;
    color: rgb(250, 246, 221);
    border-width: 0px;
    -webkit-box-shadow: rgb(255, 255, 255) 0px 0px 10px 1px;
    box-shadow: rgb(255, 255, 255) 0px 0px 10px 1px;
    min-width: 150px;
}

#box3 {
    float: left;
    height: 468.71875px;
    margin-left: 2.5%;
    margin-top: 2.5%;
    clear: none;
    width: 46.25%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 15px 10px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 15px 10px;
    margin-right: 0%;
    background-color: rgba(0, 0, 0, 0.6);
}

#input1 {
    float: none;
    height: 50px;
    font-size: 180%;
    margin: 45px auto 0%;
    clear: none;
    width: 14.999658%;
    padding: 0px;
    font-family: 'Poiret One', cursive;
    color: rgb(250, 246, 221);
    border-width: 0px;
    -webkit-box-shadow: rgb(255, 255, 255) 0px 0px 10px 1px;
    box-shadow: rgb(255, 255, 255) 0px 0px 10px 1px;
    min-width: 150px;
    background-color: rgba(255, 255, 255, 0.541176);
    display: block;
}

#formgroup {
    float: none;
    height: auto;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-top: 5%;
    clear: none;
    width: 50%;
    border-width: 2px;
    margin-right: auto;
}

#text6 {
    float: none;
    font-size: 150%;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0.2em 0em;
    display: block;
    font-family: 'Poiret One', cursive;
    color: rgb(210, 232, 185);
}

#textinput {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 160%;
    display: block;
    width: 100%;
    font-family: 'Poiret One', cursive;
    color: rgb(250, 246, 221);
    border-width: 0px;
    -webkit-box-shadow: rgb(0, 0, 0) 0px 0px 10px 1px inset;
    box-shadow: rgb(0, 0, 0) 0px 0px 10px 1px inset;
    background-color: rgba(255, 255, 255, 0.541176);
}

#formgroup1 {
    float: none;
    height: auto;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-top: 5%;
    clear: none;
    width: 50%;
    border-width: 2px;
    margin-right: auto;
}

#text7 {
    float: none;
    font-size: 150%;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding: 0.2em 0em;
    display: block;
    font-family: 'Poiret One', cursive;
    color: rgb(210, 232, 185);
}

#textinput1 {
    float: none;
    height: auto;
    padding: 0px;
    font-size: 160%;
    display: block;
    width: 100%;
    font-family: 'Poiret One', cursive;
    color: rgb(250, 246, 221);
    border-width: 0px;
    -webkit-box-shadow: rgb(0, 0, 0) 0px 0px 10px 1px inset;
    box-shadow: rgb(0, 0, 0) 0px 0px 10px 1px inset;
    background-color: rgba(255, 255, 255, 0.541176);
}

#text5 {
    float: none;
    font-size: 160%;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 5%;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    margin-right: auto;
    font-family: 'Poiret One', cursive;
    color: rgb(210, 232, 185);
}

#text8 {
    float: none;
    font-size: 160%;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 4.999912%;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    margin-right: auto;
    font-family: 'Poiret One', cursive;
    color: rgb(210, 232, 185);
    display: block;
}

#text9 {
    float: none;
    font-size: 160%;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 5%;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    font-family: 'Poiret One', cursive;
    color: rgb(220, 237, 200);
    display: block;
}

@media only screen and (max-width: 845px) {
  #box {
    opacity: 1;
}	
#Navi1 {
    float: right;
	margin-right: 10px;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 30px;
    display: block;
}
#text {
	display:none;
}
#text1 {
	display:none;
}
#text2 {
	display:none;
}
#text3 {
	display:none;
}
.menu {
	display: block;
}
.toggle {
	display: block;
}
nav {
	display: block;
}
.menu {
	color: rgb(227, 224, 207);
}
nav ul li {
	font-family: poiret-one;
}

p { text-align: center; }
 .toggle, [id^=drop] {
 display: none;
}
nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  background-color: rgb(0, 0, 0);
}

nav a {
  display: block;
  padding-bottom: 10px;
  opacity: 1;
}

.toggle + a,
 .menu { display: none; }

.toggle {
  display: block;
  color: rgb(227, 224, 207);
  font-size: 160%;
  font-family: poiret-one;
  margin-top: 50px;
  margin-right: 10px;
  float: right;
}

[id^=drop]:checked + ul { display: block; }

nav ul li {
  display: block;
  width: 100%;
}	
	

    #input {
        margin: 10% auto;
        clear: none;
        float: none;
    }

    #input1 {
        margin: 25% auto 10%;
        clear: none;
        float: none;
    }

    #formgroup {
        margin-top: 5%;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
        width: 50%;
    }

    #formgroup1 {
        margin-top: 5%;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
        width: 50%;
    }

    #box1 {
        margin-top: 5%;
        margin-left: 2.498151%;
        clear: both;
    }

    #box2 {
        margin-top: 10%;
        margin-left: 2.498151%;
        clear: both;
        width: 95%;
        height: auto;
    }

    #box3 {
        margin-top: 10%;
        margin-left: 2.5%;
        clear: both;
        width: 95%;
        height: auto;
    }
     #box4 {
        margin-top: 5%;
    }
}

@media only screen and (max-width: 480px) {
	.toggle {
  margin-top: 30px;
}
	#image {
    width: 165px;
    height: 58.3px;
}
	#Navi1 {
    float: right;
	margin-right: 5px;
    height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 20px;
    display: block;
}
#text4 {
	font-size: 180%;
}
}

